<header
	class="navbar navbar-expand-md navbar-dark fixed-top bg-primary d-flex align-items-center justify-content-between shadow-sm">
	<div class="container">
		<a class="navbar-brand" href="index.html">{{ meta.title }}</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
			aria-expanded="false" aria-label="Toggle Navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<span class="navbar-mobile">
			<nav id="menu" class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown js-dropdown-hover">
						<a class="nav-link dropdown-toggle" href="#" id="bootstrap" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Bootstrap
						</a>
						<div class="dropdown-menu" aria-labelledby="bootstrap">
							{% for item in bootstrap %}
							<a class="dropdown-item" href="{{ item.url }}">{{ item.name }}</a>
							{% endfor %}
							<a class="dropdown-item"
								href="https://getbootstrap.com/docs/4.4/getting-started/introduction/"
								target="_blank">and more...</a>
						</div>
					</li>
					<li class="nav-item dropdown js-dropdown-hover">
						<a class="nav-link dropdown-toggle" href="#" id="components" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Components
						</a>
						<div class="dropdown-menu" aria-labelledby="components">
							{% for item in components %}
							<a class="dropdown-item" href="{{ item.url }}">{{ item.name }}</a>
							{% endfor %}
							<a class="dropdown-item js-open-swal" href="#">SweetAlert</a>
						</div>
					</li>
				</ul>
			</nav>
		</span>
	</div>
</header>