<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
<meta name="description" content="{{ meta.description }}">
<meta name="keywords" content="{{ meta.keywords }}">
<meta name="author" content="{{ meta.author }}">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ meta.title }}">
<meta name="apple-mobile-web-app-status-bar-style" content="{{ meta.color }}">
<meta name="apple-mobile-web-app-title" content="{{ meta.color }}">

<!-- Facebook -->
<meta property="og:title" content="{{ meta.title }}">
<meta property="og:url" content="https://gulp.netlify.com">
<meta property="og:image" content="{{ meta.image }}">
<meta property="og:description" content="{{ meta.description }}">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ meta.title }}">
<meta name="twitter:description" content="{{ meta.description }}">
<meta name="twitter:image" content="{{ meta.image }}">

<!-- Smart Banner -->
<meta name="smartbanner:title" content="{{ meta.title }}">
<meta name="smartbanner:author" content="{{ meta.author }}">
<meta name="smartbanner:price" content="Free">
<meta name="smartbanner:button" content="Download">
<meta name="smartbanner:price-suffix-apple" content=" on Apple Store">
<meta name="smartbanner:price-suffix-google" content=" on Play Store">
<meta name="smartbanner:icon-apple" content="{{ meta.image }}">
<meta name="smartbanner:icon-google" content="{{ meta.image }}">
<meta name="smartbanner:button-url-apple" content="https://itunes.apple.com/">
<meta name="smartbanner:button-url-google" content="https://play.google.com/store">
<meta name="smartbanner:enabled-platforms" content="android, ios">

<!-- Icons -->
<link rel="shortcut icon" href="{{ meta.image }}" type="image/x-icon">
<link rel="icon" href="{{ meta.image }}" type="image/x-icon">