<script src="assets/js/application.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158604901-2"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());
	gtag('config', 'UA-158604901-2');
</script>