// |------------------------------------------------------
// |------------------------------------------------------
// | Accordion
// |------------------------------------------------------
// |------------------------------------------------------

.accordion {
	&__button {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: relative;
		background-color: $primary;
		color: white;
		font-size: em(20px);
		font-weight: 300;
		padding: $grid-gutter-width / 2;
		border: none;
		text-align: left;
		outline: none;
		border-bottom: 1px solid darken($primary, 15%);
		transition: 0.4s;
		border-radius: $border-radius;
		user-select: none;

		&:hover {
			background-color: darken($primary, 15%);
		}

		&__icon {
			width: 20px;
			height: 20px;
			@include position(relative, 3px null null null);

			&:before,
			&:after {
				content: '';
				background-color: $white;
				@include size(3px, 20px);
				@include position(absolute, 0px null null);
				position: absolute;
				transition: 0.35s $base-timing;
			}
			&:after {
				transform: rotate(90deg);
			}
		}

		&--active {
			background-color: darken($primary, 15%);
		}

		&--active & {
			&__icon {
				&:after {
					opacity: 0;
				}
				&:before {
					transform: rotate(90deg);
				}
			}
		}
	}

	&__panel {
		display: block;
		@include size(100%, 0);
		padding: 0 18px;
		background-color: $white;
		overflow: hidden;
		transition: height 0.2s ease-in-out;

		p {
			font-size: em(18px);
			line-height: em(25px);
			padding: 20px 0;
			color: $black;
		}
	}
}
