// |------------------------------------------------------
// |------------------------------------------------------
// | Buttons
// |------------------------------------------------------
// |------------------------------------------------------

.btn {
	overflow: hidden;
	position: relative;

	&__effect {
		display: block;
		position: absolute;
		@include size(0, 0);
		transform: translate(-50%, -50%);
		background-color: $black;
		border-radius: 100%;
		opacity: 0.5;
	}
}
