// |------------------------------------------------------
// |------------------------------------------------------
// | Demo
// |------------------------------------------------------
// |------------------------------------------------------

.demo-video-bg {
	display: block;
	height: 350px;
	border-radius: 5px;
	overflow: hidden;
}

.demo-video,
.demo-audio {
	max-width: 100%;
}

.demo-grid {
	[class*='col-'] {
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-color: rgba($primary, 1);
		border: 1px solid rgba(0, 0, 0, 0.2);
		color: $white;
	}
	h2 {
		display: block;
		padding-top: 30px;
	}
}
