// |------------------------------------------------------
// |------------------------------------------------------
// | Dropdown
// |------------------------------------------------------
// |------------------------------------------------------

.dropdown {
	// width: 60em;
	width: 100%;

	@include media-breakpoint-down('md') {
		width: 100%;
		position: static;
		margin: 0;
	}

	&__open,
	&__hide {
		display: none;
	}

	> ul {
		background-color: $primary;
		text-align: center;
		li {
			position: relative;
			display: inline-block;
			a {
				display: block;
				color: #fff;
				padding: 20px 30px;
				&:hover {
					color: inherit;
					background-color: darken($primary, 10%);
				}
			}
			ul {
				display: none;
				opacity: 0;
				position: absolute;
				top: 100%;
				width: 200px;
				transition: all 0.2s $base-timing;
				background-color: darken($primary, 10%);
				padding: 10px 0;
				li {
					display: block;
					a {
						padding: 5px 30px;
						text-align: left;
						border-bottom: 1px solid darken($primary, 10%);
						white-space: nowrap;
						transition: all 0.2s $base-timing;
						&:hover {
							text-indent: 5px;
							background-color: darken(darken($primary, 10%), 8%);
						}
					}
				}
			}
			&:hover {
				> a {
					color: #fff;
					background-color: darken($primary, 10%);
				}
				ul {
					display: block;
					left: 0;
					right: 0;
					opacity: 1;
				}
			}
		}
	}
}

#nav span:after {
	content: '';
	width: 0;
	height: 0;
	margin-left: 5px;
	border: 0.313em solid transparent; /* 5 */
	border-bottom: none;
	border-top-color: darken($primary, 30%);
	vertical-align: middle;
	display: inline-block;
	position: relative;
	right: -0.313em; /* 5 */
}

@media only screen and (max-width: 40em) /* 640 */ {
	#nav {
		position: relative;
		top: auto;
		left: auto;
	}
	#nav > a {
		width: 3.125em; /* 50 */
		height: 3.125em; /* 50 */
		text-align: left;
		text-indent: -9999px;
		background-color: darken($primary, 10%);
		position: relative;
	}
	#nav > a:before,
	#nav > a:after {
		position: absolute;
		border: 2px solid #fff;
		top: 35%;
		left: 25%;
		right: 25%;
		content: '';
	}
	#nav > a:after {
		top: 60%;
	}
	#nav:not(:target) > a:first-of-type,
	#nav:target > a:last-of-type {
		display: block;
	}
	/* first level */

	#nav > ul {
		height: auto;
		display: none;
		position: absolute;
		left: 0;
		right: 0;
	}
	#nav:target > ul {
		display: block;
	}
	#nav > ul > li {
		width: 100%;
		float: none;
	}
	#nav > ul > li > a {
		height: auto;
		text-align: left;
		padding: 0 0.833em; /* 20 (24) */
	}
	#nav > ul > li:not(:last-child) > a {
		border-right: none;
		border-bottom: 1px solid darken($primary, 10%);
	}
	/* second level */

	#nav li ul {
		position: static;
		padding: 1.25em; /* 20 */
		padding-top: 0;
	}
}
