// |------------------------------------------------------
// |------------------------------------------------------
// | Inputs
// |------------------------------------------------------
// |------------------------------------------------------

.input-material {
	position: relative;
	margin-bottom: 35px;

	#{$all-text-inputs} {
		width: 100%;
		padding: 7px 20px;
		font: {
			family: $font-family-base;
			size: em(16px);
		}
		color: $input-color;
		background-color: $input-bg;
		border: none;
		border-bottom: $input-border-width solid $input-border-color;
		border-radius: 0;

		&:focus {
			outline: 0;
			~ span {
				width: 100%;
				transition: all 0.35s ease;
			}
		}

		&:focus ~ label,
		&:valid ~ label,
		&.valid ~ label {
			@include position(absolute, -20px 0 null null);
			color: $primary;
			font-size: em(14px);
			transition: all 0.3s ease;
		}

		&:invalid,
		&.invalid {
			box-shadow: none;
		}

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			box-shadow: 0 0 0 30px $white inset;
		}

		~ span {
			display: block;
			@include size(0, 0.15em);
			@include position(absolute, null null 0 0);
			background: $primary;
			transition: all 0.35s ease;
		}
	}

	// Fix border bug
	textarea ~ span {
		bottom: 0px;
	}

	label {
		@include position(absolute, 7px null null 10px);
		color: $primary;
		pointer-events: none;
		transition: all 0.25s ease;
	}
}
