/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-gulp {
  background-image: url(../images/sprites.png);
  background-position: 0px -75px;
  width: 50px;
  height: 98px;
}
.icon-sass {
  background-image: url(../images/sprites.png);
  background-position: 0px 0px;
  width: 100px;
  height: 75px;
}
