// |------------------------------------------------------
// |------------------------------------------------------
// | Sliders
// |------------------------------------------------------
// |------------------------------------------------------

.slider {
	position: relative;

	.slick-initialized {
		position: relative;
	}

	&__title {
		color: $white;
		font: {
			size: em(30px);
		}
	}

	&__container {
		position: relative;
		display: block;
		width: 100%;
		margin: 0;
		user-select: none;
		-webkit-touch-callout: none;
		-ms-touch-action: pan-y;
		touch-action: pan-y;
		-webkit-tap-highlight-color: transparent;
	}

	.slick-track,
	.slick-list {
		transform: translate3d(0, 0, 0);
	}

	.slick-list {
		position: relative;
		overflow: hidden;
		display: block;
		border-radius: $border-radius;
		overflow: hidden;

		img {
			max-width: 100%;
		}

		&:focus {
			outline: none;
		}

		&.dragging {
			cursor: pointer;
			cursor: hand;
		}
	}

	.slick-track {
		display: block;
		@include position(relative, 0 null null 0);

		&:before,
		&:after {
			content: '';
			display: table;
		}

		&:after {
			@include clearfix;
		}

		.slick-loading & {
			visibility: hidden;
		}
	}

	.slick-slide {
		float: left;
		height: 100%;
		min-height: 1px;
		outline: none;
		text-align: center;

		img {
			// margin: 0 auto;
		}

		&.slick-loading img {
			display: none;
		}

		&.dragging img {
			pointer-events: none;
		}

		.slick-initialized & {
			display: block;
		}

		.slick-loading & {
			visibility: hidden;
		}

		.slick-vertical & {
			display: block;
			height: auto;
			border: 1px solid transparent;
		}
	}

	.slick-arrow.slick-hidden {
		display: none;
	}

	// Arrows
	.slick-prev,
	.slick-next {
		@include position(absolute, 50% null null null);
		cursor: pointer;
		width: 50px;
		height: 50px;
		padding: 0;
		margin: -25px 0 0 0;
		z-index: 10;
		fill: $white;
		color: $white;
		transition: all 0.3s $base-timing;

		&:hover {
			// background-color: rgba(255, 255, 255, 0.3);
		}
	}

	.slick-prev {
		left: 20px;
	}

	.slick-next {
		right: 20px;
	}

	// Dots
	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px 0 0 0;
		width: 100%;
		margin: 0;

		li {
			margin: 0 3px;
			color: white;
			@include size(
				$carousel-indicator-hit-area-height,
				$carousel-indicator-hit-area-height
			);

			button {
				cursor: pointer;
				@include size(100%, 100%);
				@include hide-text;
				padding: 0;
				margin: 0;
				border: 0;
				background-color: $primary;
				border-radius: 100%;
				outline: none;
				opacity: 0.3;
				transition: all 0.25s $base-timing;
				&:hover {
					opacity: 1;
				}
			}

			&.slick-active button {
				opacity: 1;
			}
		}
	}
}
