// |------------------------------------------------------
// |------------------------------------------------------
// | Tables
// |------------------------------------------------------
// |------------------------------------------------------

.material-table {
	position: relative;
	width: 100%;
	max-width: 100%;
	margin-bottom: 30px;

	// Fixed Header
	&.fixed-header {
		margin-top: 50px;

		> thead {
			@include position(fixed, 0 0 null 0);
			width: 100%;
			display: table;
			z-index: 5;
		}
	}

	> thead,
	> tbody,
	> tfoot {
		> tr {
			table-layout: fixed;
			transition: all 0.3s ease;
			background-color: $white;
			> th,
			> td {
				color: $black;
				text-align: left;
				padding: $table-cell-padding;
				width: 25%;
				border-bottom: $table-border-width solid $table-border-color;
				transform: all $base-duration $base-timing;
			}
		}
	}

	// Last Child
	> tbody > tr:last-child td {
		border-bottom: none;
	}

	// Sorter
	> thead > tr {
		th.header {
			cursor: pointer;
			&.headerSortUp {
				background-color: $primary;
			}
			&.headerSortDown {
				background-color: $secondary;
			}
		}
	}

	//  Header
	> thead > tr > th {
		height: 50px;
		width: 25%;
		border-bottom: 2px solid $primary;
	}

	// Stripes
	> tbody > tr:nth-child(odd) {
		> td,
		> th {
			background-color: $table-accent-bg;
		}
	}

	// Hover
	> tbody > tr:hover {
		> td,
		> th {
			background-color: $primary;
			border-bottom-color: $primary;
		}
		> td,
		> th,
		a,
		p,
		span {
			color: $white;
		}
	}
}

// Responsive
.responsive-table {
	@include media-breakpoint-down('lg') {
		// Tighten up spacing
		> .material-table {
			> thead,
			> tfoot {
				display: none;
			}

			> tbody {
				//display: block;

				> tr {
					display: block;
					border: 1px solid $table-border-width;
					border-radius: 3px;
					margin: 0 20px 20px 20px;

					> td {
						width: 100%;
						background-color: $white;
						display: block;
						vertical-align: middle;
						text-align: right;
					}

					> td[data-title]:before {
						content: attr(data-title);
						float: left;
						font-size: inherit;
					}
				}
			}

			// Hover
			> tbody {
				> tr:hover > td,
				> tr:hover {
					background-color: $table-dark-accent-bg;
					border-color: $table-dark-accent-bg;
				}
				> tr:hover,
				> tr > td:hover {
					color: white;
				}
				> tr:hover > td {
					border-color: darken($table-dark-accent-bg, 10%);
				}
			}
		}
	}
}
