<!DOCTYPE html>
<html lang="pt-br">

<head>

	<title>Accordion</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	{% include "partials/header.html" %}

	<div class="container">
		<div class="jumbotron mt-4">
			<h1 class="display-4 regular-font text-white">Accordion</h1>
			<p class="lead text-white">This is a simple accordion demo.</p>
		</div>

		<section class="accordion mb-4">
			<article class="accordion__section">
				<h2 class="accordion__button js-accordion-button">Accordion #1
					<span class="accordion__button__icon"></span>
				</h2>
				<div class="accordion__panel">
					<p>#1 - Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						been the industry's
						standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
						scrambled it to make a
						type specimen book. It has survived not only five centuries, but also the leap into electronic
						typesetting, remaining
						essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
						containing Lorem Ipsum passages,
						and more recently with desktop publishing software like Aldus PageMaker including versions of
						Lorem Ipsum.</p>
				</div>
			</article>

			<article class="accordion__section">
				<h2 class="accordion__button js-accordion-button">Accordion #2
					<span class="accordion__button__icon"></span>
				</h2>
				<div class="accordion__panel">
					<p>#2 - Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						been the industry's
						standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
						scrambled it to make a
						type specimen book. It has survived not only five centuries, but also the leap into electronic
						typesetting, remaining
						essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
						containing Lorem Ipsum passages,
						and more recently with desktop publishing software like Aldus PageMaker including versions of
						Lorem Ipsum.</p>
				</div>
			</article>

			<article class="accordion__section">
				<h2 class="accordion__button js-accordion-button">Accordion #3
					<span class="accordion__button__icon"></span>
				</h2>
				<div class="accordion__panel">
					<p>#3 - Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						been the industry's
						standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
						scrambled it to make a
						type specimen book. It has survived not only five centuries, but also the leap into electronic
						typesetting, remaining
						essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
						containing Lorem Ipsum passages,
						and more recently with desktop publishing software like Aldus PageMaker including versions of
						Lorem Ipsum.</p>
				</div>
			</article>
		</section>
	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>