<!DOCTYPE html>
<html lang="pt-br">

<head>

	<title>Buttons</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	{% include "partials/header.html" %}

	<div class="container">
		<div class="jumbotron mt-4">
			<h1 class="display-4 regular-font text-white">Buttons</h1>
			<p class="lead text-white">This is a simple button demo.</p>
		</div>

		<h2 class="display-5 regular-font text-primary">Normal</h2>
		<button type="button" class="btn btn-primary">Primary</button>
		<button type="button" class="btn btn-secondary">Secondary</button>
		<button type="button" class="btn btn-success">Success</button>
		<button type="button" class="btn btn-danger">Danger</button>
		<button type="button" class="btn btn-warning">Warning</button>
		<button type="button" class="btn btn-info">Info</button>
		<button type="button" class="btn btn-dark">Dark</button>
		<button type="button" class="btn btn-light">Light</button>

		<div class="clear"></div>

		<br>

		<h2 class="display-5 regular-font text-primary">Animated</h2>
		<button type="button" class="btn btn-primary js-animated-button">Primary</button>
		<button type="button" class="btn btn-secondary js-animated-button">Secondary</button>
		<button type="button" class="btn btn-success js-animated-button">Success</button>
		<button type="button" class="btn btn-danger js-animated-button">Danger</button>
		<button type="button" class="btn btn-warning js-animated-button">Warning</button>
		<button type="button" class="btn btn-info js-animated-button">Info</button>
		<button type="button" class="btn btn-dark js-animated-button">Dark</button>
		<button type="button" class="btn btn-light js-animated-button">Light</button>
	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>