<!DOCTYPE html>
<html lang="en" class="full">

<head>

	<title>Dropdown</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	{% include "partials/header.html" %}

	<div class="container">
		<div class="jumbotron mt-4">
			<h1 class="display-4 regular-font text-white">Dropdown</h1>
			<p class="lead text-white">This is a custom dropdown menu example.</p>
		</div>

		<nav id="nav" class="dropdown">
			<a href="#nav" class="dropdown__open" title="Show navigation">Show navigation</a>
			<a href="#" class="dropdown__hide" title="Hide navigation">Hide navigation</a>
			<ul class="rounded">
				<li><a href="index.html">Home</a></li>
				<li>
					<a href="#"><span>Pages</span></a>
					<ul>
						<li><a href="#">Item 1</a></li>
						<li><a href="#">Item 2</a></li>
						<li><a href="#">Item 3</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>

	<div class="d-flex h-100 justify-content-center align-items-center">

	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>