<!DOCTYPE html>
<html lang="pt-br">

<head>

	<title>FullPage</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	<header
		class="navbar navbar-expand-md navbar-dark sticky-top bg-primary d-flex align-items-center justify-content-between shadow-sm">
		<a class="navbar-brand" href="index.html">Gulp Boilerplate</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
			aria-expanded="false" aria-label="Toggle Navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<span class="navbar-mobile">
			<nav id="menu" class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li data-menuanchor="home" class="nav-item">
						<a href="#home" class="nav-link">Home</a>
					</li>
					<li data-menuanchor="projects" class="nav-item">
						<a href="#projects" class="nav-link">Projects</a>
					</li>
					<li data-menuanchor="about" class="nav-item">
						<a href="#about" class="nav-link">About</a>
					</li>
					<li class="nav-item dropdown js-dropdown-hover">
						<a class="nav-link dropdown-toggle" href="#" id="bootstrap" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Bootstrap
						</a>
						<div class="dropdown-menu" aria-labelledby="bootstrap">
							{% for item in bootstrap %}
							<a class="dropdown-item" href="{{ item.url }}">{{ item.name }}</a>
							{% endfor %}
						</div>
					</li>
					<li class="nav-item dropdown js-dropdown-hover">
						<a class="nav-link dropdown-toggle" href="#" id="components" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Components
						</a>
						<div class="dropdown-menu" aria-labelledby="components">
							{% for item in components %}
							<a class="dropdown-item" href="{{ item.url }}">{{ item.name }}</a>
							{% endfor %}
						</div>
					</li>
				</ul>
			</nav>
		</span>
	</header>

	<div class="js-fullpage">
		<div class="section bg-primary">
			<div class="container">
				<h1 class="display-4 regular-font text-white">Home</h1>
				<p class="lead text-white">Scroll down to see auto-height sections</p>
			</div>
		</div>

		<div class="section bg-success">
			<div class="slide">
				<div class="container">
					<h1 class="display-4 regular-font text-white">Projects</h1>
					<p class="lead text-white">Scroll down to see auto-height sections</p>
				</div>
			</div>
			<div class="slide">
				<div class="container">
					<h1 class="display-4 regular-font text-white">Project 1</h1>
					<p class="lead text-white">Project 1 description...</p>
				</div>
			</div>
			<div class="slide">
				<div class="container">
					<h1 class="display-4 regular-font text-white">Project 2</h1>
					<p class="lead text-white">Project 2 description...</p>
				</div>
			</div>
		</div>

		<div class="section fp-auto-height bg-danger">
			<div class="fp-min-content" style="min-height: 40vh;">
				<div class="container">
					<h1 class="display-4 regular-font text-white">About</h1>
				</div>
			</div>
		</div>
	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>