<!DOCTYPE html>
<html lang="pt-br">

<head>

	<title>Gulp Boilerplate</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	{% include "partials/header.html" %}

	<div class="container">
		<div class="jumbotron mt-4">
			<h1 class="display-4 regular-font text-white">Gulp Boilerplate</h1>
			<p class="lead text-white">To start new projects with bootstrap and same usefull plugins</p>
		</div>
	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>