<!DOCTYPE html>
<html lang="pt-br">

<head>

	<title>Knob</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	{% include "partials/header.html" %}

	<div class="container">
		<div class="jumbotron mt-4">
			<h1 class="display-4 regular-font text-white">Knob</h1>
			<p class="lead text-white">This is the knob demo.</p>
		</div>

		<div class="d-flex justify-content-between">

			<input type="text" class="js-knob" value="65" data-min="0" data-max="100" data-width="200"
				data-readOnly="true" data-linecap="round" data-fgColor="#007bff" data-angleOffset="0">

			<input type="text" class="js-knob" value="45" data-min="0" data-max="100" data-width="200"
				data-linecap="round" data-fgColor="#007bff" data-angleOffset="0">

			<input type="text" class="js-knob" value="45" data-min="0" data-max="100" data-width="200"
				data-linecap="round" data-fgColor="#007bff" data-skin="tron" data-thickness="0.2"
				data-displayPrevious="true">

			<input type="text" class="js-knob" value="45" data-min="0" data-max="100" data-width="200"
				data-linecap="round" data-fgColor="#007bff" data-angleOffset="-125" data-angleArc="250">
		</div>

	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>