<!DOCTYPE html>
<html lang="pt-br">

<head>

	<title>Lightbox</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	{% include "partials/header.html" %}

	<div class="container">
		<div class="jumbotron mt-4">
			<h1 class="display-4 regular-font text-white">Lightbox</h1>
			<p class="lead text-white">This is the lightbox demo.</p>
		</div>

		<div class="mb-4">
			<h2 class="display-5 text-primary">Images</h2>
			<a href="https://via.placeholder.com/900/2196f3/FFFFFF/text=1" data-lightbox="image">
				<img src="https://via.placeholder.com/100/2196f3/FFFFFF/?text=1" />
			</a>
		</div>

		<div class="mb-5">
			<h2 class="display-5 text-primary">Gallery</h2>
			{% for i in range(1, 6) %}
			<a href="https://via.placeholder.com/900/2196f3/FFFFFF/text={{ i }}" data-lightbox="roadtrip">
				<img src="https://via.placeholder.com/100/2196f3/FFFFFF/?text={{ i }}" />
			</a>
			{% endfor %}
		</div>

	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>