<!DOCTYPE html>
<html lang="pt-br">

<head>

	<title>Inputs</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	{% include "partials/header.html" %}

	<div class="container">
		<div class="jumbotron mt-4">
			<h1 class="display-4 regular-font text-white">Material Inputs</h1>
			<p class="lead text-white">This is the material fields demo.</p>
		</div>

		<form class="jumbotron bg-light needs-validation" novalidate>
			<div class="input-material">
				<input id="name" class="form-control" type="text" required>
				<label for="name">Name</label>
				<span></span>
			</div>

			<div class="input-material">
				<input id="email" class="form-control" type="email" required>
				<label for="email">E-mail</label>
				<span></span>
			</div>

			<div class="row">
				<div class="col-sm-2">
					<div class="input-material">
						<input id="cep" class="form-control js-get-address js-mask-cep" type="text" required
							maxlength="8">
						<label for="cep">CEP</label>
						<span></span>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="input-material">
						<input id="address" class="form-control js-set-address" type="text" required>
						<label for="address">Endereço</label>
						<span></span>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="input-material">
						<input id="number" class="form-control js-set-number" type="text" maxlength="6" required>
						<label for="number">Número</label>
						<span></span>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="input-material">
						<input id="city" class="form-control js-set-city" type="text" required>
						<label for="city">Cidade</label>
						<span></span>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="input-material">
						<input id="state" class="form-control js-set-state" type="text" maxlength="2" required>
						<label for="state">Estado</label>
						<span></span>
					</div>
				</div>
			</div>
			<div class="input-material">
				<textarea id="message" class="form-control" required></textarea>
				<label for="message">Mensagem</label>
				<span></span>
			</div>

			<div class="d-flex justify-content-end">
				<button class="btn btn-primary">Enviar</button>
			</div>
		</form>

	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>