<!DOCTYPE html>
<html lang="pt-br">

<head>

	<title>Plyr</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	{% include "partials/header.html" %}

	<div class="container">
		<div class="jumbotron mt-4">
			<h1 class="display-4 regular-font text-white">Plyr</h1>
			<p class="lead text-white">This is the plyr demo.</p>
		</div>

		<div class="mb-3">

			<h2 class="display-5 text-primary">Audio</h2>
			<div class="demo-audio audio mb-3">
				<audio class="js-audio" data-markers='[0, 45, 75, 100, 160]' controls>
					<source src="assets/audios/offspring.mp3" type="audio/mp3" />
					<source src="assets/audios/offspring.ogg" type="audio/ogg" />
				</audio>
				<button class="btn btn-sm btn-success text-uppercase mb-1"
					onClick="javascript:audio.play(); audio.currentTime = 50;">Go to 50 seconds</button>
				<button class="btn btn-sm btn-danger text-uppercase mb-1" onClick="javascript:audio.rewind(10);">-20
					seconds</button>
				<button class="btn btn-sm btn-info text-uppercase mb-1" onClick="javascript:audio.forward(10);">+20
					seconds</button>
				<br>
				{% for chapter in audio %}
				<button class="btn btn-sm btn-primary text-uppercase mb-1"
					onClick="javascript:audio.currentTime = {{ chapter.time }};">{{ chapter.title }}</button>
				{% endfor %}
			</div>

			<div class="row">
				<div class="col">
					<h2 class="display-5 text-primary">Video</h2>
					<div class="demo-video">
						<video class="js-video" poster="assets/videos/ocean.jpg" data-start="7" playsinline controls>
							<source src="assets/videos/ocean.mp4" type="video/mp4" />
							<source src="assets/videos/ocean.webm" type="video/webm" />
							<track kind="captions" label="Português" src="assets/videos/ocean.pt.vtt" srclang="pt"
								default />
							<track kind="captions" label="English" src="assets/videos/ocean.en.vtt" srclang="en" />
						</video>
						<br>
						<button class="btn btn-sm btn-success text-uppercase"
							onClick="javascript:video.play(); video.currentTime = 5;">Go to 5 seconds</button>
						<button class="btn btn-sm btn-primary text-uppercase"
							onClick="javascript:video.play(); video.forward(2);">+2 seconds</button>
					</div>
				</div>

				<div class="col">
					<h2 class="display-5 text-primary">Youtube</h2>
					<div class="demo-video">
						<div class="js-player" data-plyr-provider="youtube" data-plyr-embed-id="bTqVqk7FSmY"></div>
					</div>
				</div>

				<div class="col">
					<h2 class="display-5 text-primary">Vimeo</h2>
					<div class="demo-video">
						<div class="js-player" data-plyr-provider="vimeo" data-plyr-embed-id="76979871"></div>
					</div>
				</div>

			</div>

		</div>

	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>