<!DOCTYPE html>
<html lang="pt-br">

<head>

	<title>Popover</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	{% include "partials/header.html" %}

	<div class="container">
		<div class="jumbotron mt-4">
			<h1 class="display-4 regular-font text-white">Popover</h1>
			<p class="lead text-white">
				<span>This is a popover example,</span>
				<a href="https://getbootstrap.com/docs/4.4/components/popovers/" class="text-light">view documentation
					here</a>.
			</p>
		</div>

		<section class="d-flex justify-content-between mb-3">
			<button type="button" class="btn btn-primary js-popover" data-container="body" data-toggle="popover"
				data-placement="top" data-content="Vivamus sagittis lacus.">
				Popover on top
			</button>

			<button type="button" class="btn btn-primary js-popover" data-container="body" data-toggle="popover"
				data-placement="right" data-content="Vivamus sagittis lacus.">
				Popover on right
			</button>

			<button type="button" class="btn btn-primary js-popover" data-container="body" data-toggle="popover"
				data-placement="bottom" data-content="Vivamus sagittis lacus.">
				Popover on bottom
			</button>

			<button type="button" class="btn btn-primary js-popover" data-container="body" data-toggle="popover"
				data-placement="left" data-content="Vivamus sagittis lacus.">
				Popover on left
			</button>
		</section>
	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>