<!DOCTYPE html>
<html lang="pt-br">

<head>

	<title>Slider</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	{% include "partials/header.html" %}

	<div class="container">
		<div class="jumbotron mt-4">
			<h1 class="display-4 regular-font text-white">Slider</h1>
			<p class="lead text-white">This is the slider demo.</p>
		</div>

		<section class="slider slider--primary js-primary-slider mb-3">
			{% for i in range(1, 5) %}
			<div class="slider__item">
				<img src="https://via.placeholder.com/1300x400/007bff/ffffff/?text={{ i }}" alt="Image {{ i }}">
			</div>
			{% endfor %}
		</section>

	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>