<!DOCTYPE html>
<html lang="pt-br">

<head>

	<title>Sprites with SVG and Image</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	{% include "partials/header.html" %}

	<div class="container">
		<div class="jumbotron mt-4">
			<h1 class="display-4 regular-font text-white">Sprites</h1>
			<p class="lead text-white">This is the sprites demo.</p>
		</div>

		<div class="row mb-3">
			<div class="col-12 col-md-6">
				<h2 class="display-5 text-primary">SVG</h2>
				<div class="mt-2 d-flex align-items-center justify-content-start">
					<svg class="svg mt-5" width="40" height="40">
						<use xlink:href="assets/images/svg.svg#left"></use>
					</svg>
					<svg class="svg ml-3 mt-5" width="40" height="40">
						<use xlink:href="assets/images/svg.svg#right"></use>
					</svg>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<h2 class="display-5 text-primary">Images</h2>
				<div class="d-flex align-items-center justify-content-start">
					<div class="sprite icon-gulp mt-2"></div>
					<div class="sprite icon-sass ml-5 mt-4"></div>
				</div>
			</div>
		</div>

	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>