<!DOCTYPE html>
<html lang="pt-br">

<head>

	<title>Table Sorter</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	{% include "partials/header.html" %}

	<div class="container">
		<div class="jumbotron mt-4">
			<h1 class="display-4 regular-font text-white">Table Sorter</h1>
			<p class="lead text-white">This is the table sorter demo.</p>
		</div>

		<section class="responsive-table mb-4">
			<table class="material-table tablesorter js-table-sorter js-fixed-table-header">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Link</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td data-title="ID">1</td>
						<td data-title="Name">Material Design Color Palette</td>
						<td data-title="Link">
							<a href="#">GitHub</a>
						</td>
						<td data-title="Status">Completed</td>
					</tr>
					<tr>
						<td data-title="ID">2</td>
						<td data-title="Name">Color Palette</td>
						<td data-title="Link">
							<a href="#">Facebook</a>
						</td>
						<td data-title="Status">Completed</td>
					</tr>
					<tr>
						<td data-title="ID">3</td>
						<td data-title="Name">Color Palette</td>
						<td data-title="Link">
							<a href="#">Facebook</a>
						</td>
						<td data-title="Status">Completed</td>
					</tr>
					<tr>
						<td data-title="ID">4</td>
						<td data-title="Name">Color Palette</td>
						<td data-title="Link">
							<a href="#">Facebook</a>
						</td>
						<td data-title="Status">Completed</td>
					</tr>
					<tr>
						<td data-title="ID">5</td>
						<td data-title="Name">Color Palette</td>
						<td data-title="Link">
							<a href="#">Facebook</a>
						</td>
						<td data-title="Status">Completed</td>
					</tr>
				</tbody>
			</table>
		</section>

	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>