<!DOCTYPE html>
<html lang="pt-br">

<head>

	<title>Toast</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	{% include "partials/header.html" %}

	<div class="container">
		<div class="jumbotron mt-4">
			<h1 class="display-4 regular-font text-white">Toast</h1>
			<p class="lead text-white">
				<span>This is a toast example,</span>
				<a href="https://getbootstrap.com/docs/4.4/components/toasts/" class="text-light">view documentation
					here</a>.
			</p>
		</div>

		<section class="mb-3">
			<button class="btn btn-primary" onClick="$('.js-toast').toast('show')">Open toast</button>
		</section>

		<div class="toast-wrapper">
			<div class="toast js-toast" role="alert">
				<div class="toast-header">
					<strong class="mr-auto">Bootstrap</strong>
					<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="toast-body">
					Hello, world! This is a toast message.
				</div>
			</div>
		</div>
	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>