<!DOCTYPE html>
<html lang="pt-br">

<head>

	<title>Tooltip</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	{% include "partials/header.html" %}

	<div class="container">
		<div class="jumbotron mt-4">
			<h1 class="display-4 regular-font text-white">Tooltip</h1>
			<p class="lead text-white">
				<span>This is a tooltip example,</span>
				<a href="https://getbootstrap.com/docs/4.4/components/tooltips/" class="text-light">view documentation
					here</a>.
			</p>
		</div>

		<section class="d-flex justify-content-between mb-3">
			<button type="button" class="btn btn-primary js-tooltip" data-placement="top" title="Tooltip on top">
				Tooltip on top
				<span class="sr-only">Loading...</span>
			</button>
			<button type="button" class="btn btn-primary js-tooltip" data-placement="right" title="Tooltip on right">
				Tooltip on right
			</button>
			<button type="button" class="btn btn-primary js-tooltip" data-placement="bottom" title="Tooltip on bottom">
				Tooltip on bottom
			</button>
			<button type="button" class="btn btn-primary js-tooltip" data-html="true" data-placement="left"
				title="Tooltip with <strong>HTML</strong>">
				Tooltip on left
			</button>
		</section>
	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>