<!DOCTYPE html>
<html lang="pt-br">

<head>

	<title>Background Videos</title>

	{% include "partials/meta.html" %}
	{% include "partials/styles.html" %}

</head>

<body class="d-flex flex-column">

	{% include "partials/header.html" %}

	<div class="container">
		<div class="jumbotron mt-4">
			<h1 class="display-4 regular-font text-white">Video</h1>
			<p class="lead text-white">This is the background video demo.</p>
		</div>

		<div class="js-primary-video demo-video-bg mb-4"></div>
	</div>

	{% include "partials/footer.html" %}

	{% include "partials/scripts.html" %}

</body>

</html>